# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore editor and tool related directories
.metals
.settings
.classpath
.project
bin/main/seb_dot_hajek_at_gmail_dot_com/dots
.bloop
bin/main
